.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  padding-top: 3rem
  &__wrap
    background-color: $black
    max-width: 63.07rem
    margin: auto
    margin-top: -20rem
    margin-bottom: 3.714
    padding: 2.5rem 
  &__title
    text-transform: uppercase
    font-family: 'Yuseva One', cursiv
    font-style: normal
    font-weight: normal
    font-style: 1.428rem
    text-align: center 
    margin-bottom: 3.214rem
    margin-top: 0
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.142rem
    margin: auto
  &__input
    padding-top: 0.3rem
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.2rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2rem

  &__policy
    flex-basis: 100%
    margin-bottom: 3.6rem
  &__button
    margin: auto
    padding: 1.285rem 4.785rem
  &__menu
    background-color: $dark
    padding: 4.285rem 0

