.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding-top: 100px
  background: $dark url('../img/hero-bg.jpg') no-repeat center / cover
  height: 100vh
  color: $light
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
  &::after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 3.46rem
    width: 100%
    background-color: $dark
  &__content
    position: relative
    max-width: 47.85rem
    margin-left: 4.28rem
  &__title
    margin-bottom: 1rem
  &__text
    font-size: 1.57rem
    line-height: 131%
    max-width: 500px
    margin: 0
    margin-bottom: 3rem
  &__button
    margin-right: 20px
    padding: 20px 25px
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 80px
    height: 100%
  &__scroll-down
    position: absolute
    z-index: 3
    display: flex
    justify-content: center
    align-items: center
    left: 0
    bottom: 0
    min-width: 17.6rem
    min-height: 6.92rem
    background-color: $dark
    text-transform: uppercase
    text-decoration: none
    font-size: 0.85rem;
    color: $light
    font-family: Yeseva One
    &:hover
      transition: box-shadow 0.3s
      text-shadow: #f3d8ad 0 0 2px;
    &::after
      content: ''
      background: url('../img/arrow-down.svg') no-repeat center
      width: 30px
      height: 30px
      border: 2px solid $primary
      border-radius: 50%
      margin-left: 12px
.instagram
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  &:hover
  transition: box-shadow 0.3s
  text-shadow: #f3d8ad 0 0 2px;
  &__link
    display: flex
    align-items: center
    text-transform: uppercase
    text-decoration: none
    color: $primary
    transform: rotate(90deg)
    line-height: 0.8
    font-size: 1.1rem
    &::after
      content: ''
      width: 50px
      height: 1px
      background-color: $primary
      margin-left: 8px
  
.title
  font-family: 'Yeseva One', cursive
  text-transform: uppercase
  font-size: 2.857rem
  line-height: 1.4
  &--primary
    color: $primary

.button--outline
  padding: 20px 45px
